{% extends 'base/main.html' %}

{% block content %}

         <br>
         
         <div class-"row">
              <div class="col-md">
                  <div class="card card-body">
                       <h5>Projects</h5>
                  </div>
                  <div class="card card-body">
                       <table class="table">
                            <tr>
                                 <th>Projects</th>
                                <th>Date Assigned</th>
                                <th>No. of Days</th>
                            </tr>

                            {% for i in projects %}
                            
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.date_created}}</td>
								<td>{{i.no_of_days}}</td>
							</tr>
						{% endfor %}
                              
                              

                    
                       </table>
                  </div>
              </div>
         </div>
{% endblock content %}